@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@600;700&family=Fraunces:wght@700;900&display=swap");

/* font-family: 'Barlow', sans-serif;
font-family: 'Fraunces', serif;*/
:root {
    --yellow: hsl(51, 100%, 49%);
    --soft-red: hsl(7, 99%, 70%);
    --graphic-design-text: hsl(167, 40%, 24%);
    --photo-text: hsl(198, 62%, 26%);
    --footer: hsl(168, 34%, 41%);
    --blue: hsl(212, 27%, 19%);
    --darker-grey-blue: hsl(213, 9%, 39%);
    --grey-blue: hsl(210, 4%, 67%);
    --white: hsl(0, 0%, 100%);
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
h2 {
    font-family: "Fraunces", serif;
    font-weight: 900;
    font-size: 32px;
}
header {
    background-image: url(./images/mobile/image-header.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 40px 20px 80px 20px;
}
ul li {
    margin: 1.25em 0;
}
ul li a {
    text-decoration: none;
    font-family: "Barlow", sans-serif;
    color: var(--grey-blue);
    font-size: 1.25em;
    font-weight: 600;
}
li:last-of-type {
    margin-top: 40px;
}

.top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    margin-bottom: 70px;
}

.menu:before {
    content: "";
    position: absolute;
    top: -30px;
    left: calc(100% - 30px);
    margin: auto;
    width: 0;
    height: 0;
    border-bottom: 30px solid rgb(255, 255, 255);
    border-left: 30px solid transparent;
    z-index: 1001;
}
input,
ul.menu {
    display: none;
}
label {
    position: relative;
    display: block;
    cursor: pointer;
}
#checkbox:checked ~ ul.menu {
    display: flex;
}
.menu {
    display: flex;
    position: absolute;
    list-style: none;

    flex-flow: column nowrap;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    width: 100%;
    top: 4em;
    left: 0;
    padding: 2em 1em;
}
.first {
    display: flex;
    flex-flow: column nowrap;
}

.article__img {
    width: 100%;
}

.contact {
    background-color: var(--yellow);
    font-family: "Fraunces", serif;
    font-weight: 700;
    color: black;
    padding: 1em 1.75em;
    border-radius: 50px;
    font-size: 1em;
}

.bottom-text {
    text-align: center;
    font-family: "Fraunces", serif;
    color: white;
    font-size: 1.75em;
    letter-spacing: 0.25em;
    font-weight: 900;
}
.arrow {
    text-align: center;
    margin: 3em 0;
}
.content {
    margin: 1.75em;
    text-align: center;
}

.content > * {
    margin-bottom: 1em;
}
.text {
    color: var(--darker-grey-blue);
    font-size: 18px;

    font-family: "Barlow", sans-serif;
    font-weight: 600;
    line-height: 1.6;
}
.link {
    font-family: "Fraunces", serif;
    position: relative;
    font-weight: 800;
    text-decoration: none;
    text-transform: uppercase;
    color: black;
}
.yellow::before {
    content: "";
    width: calc(100% + 20px);
    left: -10px;
    top: calc(100% - 10px);
    height: 10px;
    background-color: var(--yellow);
    z-index: -10;
    opacity: 0.2;
    border-radius: 5px;
    position: absolute;
}
.rose::before {
    content: "";
    width: calc(100% + 20px);
    left: -10px;
    top: calc(100% - 10px);
    height: 10px;
    background-color: var(--soft-red);
    z-index: -10;
    opacity: 0.2;
    border-radius: 5px;
    position: absolute;
}
.grahpic-design {
    background-image: url(/images/mobile/image-graphic-design.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    background-position: center;
    padding: 20em 1em 2.5em 1em;
    text-align: center;
    color: var(--graphic-design-text);
}
.second-header {
    margin-bottom: 1em;
}
.second-text {
    color: var(--graphic-design-text);
    font-size: 16px;
}
.photography {
    background-image: url(/images/mobile/image-photography.jpg);
    background-repeat: no-repeat;
    background-size: cover;

    background-position: center;
    padding: 20em 1em 2.5em 1em;
    text-align: center;
    color: var(--graphic-design-text);
}
.clients {
    margin-top: 4em;
    text-align: center;
}
.client-testimonials {
    text-transform: uppercase;
    font-family: "Fraunces", serif;
    letter-spacing: 0.2em;
    color: hsl(210, 4%, 67%);
    font-size: 18px;
    margin-bottom: 4em;
}
.client {
    padding: 2em;
}
.client > * {
    margin-bottom: 1em;
}
.client-img {
    border-radius: 50%;
    width: 20%;
    margin-bottom: 2em;
}
.client-name {
    font-size: 18px;
    margin-bottom: 0.75em;
}
.client-job {
    font-family: "Barlow", sans-serif;
    color: var(--grey-blue);
    font-size: 14px;
    margin-bottom: 5em;
}
.gallery {
    margin-top: 5em;
    display: flex;
    flex-flow: row wrap;
}

.gallery-img {
    width: 50%;
}
.footer {
    display: flex;
    flex-flow: column wrap;
    background-color: var(--footer);
    padding: 2em;
}
.footer-logo {
    margin: 2em auto;
    width: 150px;
}
.container-links {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.footer-link {
    text-decoration: none;
    color: var(--graphic-design-text);
    font-family: "Barlow", sans-serif;
    font-size: 18px;
}
.footer-icons {
    padding: 4rem 50px;
    display: flex;
    justify-content: space-evenly;
}
